.general-row{
    margin: 0 auto;
    max-width: 700px;
}

.realcontent{
    width: 100%;
    text-align: center;
}

.notfound{
	display: block;
	position: relative;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: #DCDCDC;
}

.login{
	text-align: center;
	position: center;
    background-color: white;
    padding-bottom: 5%;
}

.login-form{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1%;
    max-width: 400px;
}

.input-group{
	width: 100%;
	margin-top: 30px;
}

.form-group{
    padding: 1%;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

.db{
	display: block;
}

.padding5{
    padding: 5%;
}

.mt30{
	margin-top: 30px;
}

.mt50{
	margin-top: 50px;
}

.mb50{
	margin-bottom: 50px;
}

.pt30{
	padding-top: 30px;
}

.mt-30{
	margin-top: -30px;
}

.mt-50{
	margin-top: -50px;
}

#TOS{
    background-color: white;
    padding: 10% 20%;
}

#blog{
    background-color: white;
    padding: 10% 20%;
}

#manage-offers{
    background-color: #E7E9EC;
    padding: 5%;
}

#POI{
    border-top: 2px solid gray;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#offers{
    padding-bottom : 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#create-new{
    float: left;
}

@media (min-width: 1280px){
    #manage-offers{
        padding-right: 10%;
        padding-left: 10%;
    }
}

/* get font-awesome to work with BS3 */
.input-group-addon .icon-2x {
    width: 28px;
    min-width: 28px;
    display: inline-block;
}

.inline-block > li {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
}

/* ----- SIGN UP ----- */
.well h3 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

#signupForm .input-group {
    margin-bottom: 20px;
}

#signup{
    text-align: center;
    background-color: white;
    margin: 0;
    width: auto;
}

#signup h1{
    font-size: 30px;
}

.offre{
    width: 300px;
    height: 200px;
    background-color: white;

    z-index : 30;
}

.desc_offre{
    height: 80%;
    width: 100%;
}

.share_offre{
    height: 20%;
    width: 100%;
    vertical-align: middle;
    border-top : 1px solid #E0E0E0;
    font-size: 26px;
}

.titre_offre{
    text-transform: bold;
    font-size: 24px;
    color: green;           
    font-weight: 800;
    overflow: ellipsis;
    padding: 5%;
}

.detail_offre{
    vertical-align: middle;
}

.overview{
    background-color: white;
    border-radius: 3px;
    background-color: white;

    margin-bottom: 15px;
    padding: 20px 20px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
}

.overview h2{
    text-align: center;
}

#summary{
    padding: 10%;
}

.offre{
    background-color: white;
    border-radius: 3px;
    background-color: white;

    margin-bottom: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);

}


.map-container { 
    height: 400px; 
}


.angular-google-map-container { 
    height: 400px; 
}