.well h3 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 20px;
}
#signupForm .input-group {
    margin-bottom: 20px;
}

/* get font-awesome to work with BS3 */
.input-group-addon .icon-2x {
    width: 28px;
    min-width: 28px;
    display: inline-block;
}

.inline-block > li {
    position: relative;
    display: inline-block;
    margin: 0 10px 10px 0;
}


#signup{
    text-align: center;
    background-color: white;
    margin: 0;
    width: auto;
    padding : 1%;

}


#signup h1{
    font-size: 30px;
}

.signup-old{

    padding: 5%;
}



.general-row{

    margin: 0 auto;
    display: inline-block;
    max-width: 700px;

}

#realContent{
    width: 100%;
    text-align: center;
}


.form-group{
    padding: 1%;
}
