<div id="login" class="container">
	<div class="realcontent">
		<h2 class="mt50">Se Connecter</h2>

		<div class="general-row">
			<form id="loginForm" role="form" action="#/myaccount">
				<div class="input-group">
					<label for="mail">Adresse email :</label>
					<input ng-model="mail" id="mail" class="form-control" name="mail" placeholder="Email" required="required" maxlength="50" type="email" value="">
				</div>
				<div class="input-group">
					<label for="password">Mot de passe :</label>
					<input ng-model="password" id="password" class="form-control" name="password" placeholder="Mot de passe" required="required" maxlength="30" type="password" value="">
				</div>
				<div class="input-group">
					<label><input type="checkbox"> Se souvenir de moi</label>
				</div>
				<button id="btn-login" class="btn btn-block btn-lg mt30" type="submit">Se Connecter</button>
			</form>
			<div class="mt50">
				<p>Pas encore inscrit ? <a href="#/signup">Créé ton compte !</a></p>
			</div>
		</div>
		
	</div>
</div>