<!-- Banner -->
	<div id="banner-wrapper">
		<section id="banner">
			<h2> Les bons plans viennent à vous</h2>
			<p>En voyage ou tous les jours, ne cherchez plus les bons plans et les annonces. </p>
			<a href="#/signup" class="button">Je m'inscris ! </a>
		</section>
	</div>

<!-- Main -->
	<div id="main" class="container">
		<div class="row 200%">
			<div class="12u">
				<div class="col-md-4 col-xs-12">
					<img class="image" width="200" height="200" alt="" src="assets/images/direction.png">
					<ul class="list mt30 h150">
						<li><span class="fa fa-check mr5"></span>Télécharge l'application sur le Playstore</li>
						<li><span class="fa fa-check mr5"></span>Dis-nous ce qui t'intéresse</li>
						<li><span class="fa fa-check mr5"></span>Choisis la destination de ton choix</li>
					</ul>
					<h2>Tu seras prévenu dès que tu passeras à côté d'une offre !</h2>
				</div>
				<div class="col-md-4 col-xs-12">
					<img class="image" width="200" height="200" alt="" src="assets/images/gift.png">
					<ul class="list mt30 h150">
						<li><span class="fa fa-check mr5"></span>Crée ton compte</li>
						<li><span class="fa fa-check mr5"></span>Dépose gratuitement une annonce</li>
						<li><span class="fa fa-check mr5"></span>Précise le lieu de vente</li>
						<li><span class="fa fa-check mr5"></span>Visualise tes statistiques</li>
					</ul>
					<h2>Tu seras vite contacté par de nombreux clients intéressés !</h2>
				</div>
				<div class="col-md-4 col-xs-12">
					<img class="image" width="200" height="200" alt="" src="assets/images/handshake.png">
					<ul class="list mt30 h150">
						<li><span class="fa fa-check mr5"></span>Contacte-nous par <a href="mailto:info@on-the-road.fr" class="lien fa fa-envelope-o"></a> ou sur <span class="fa fa-twitter"></span> et <span class="mr5 fa fa-facebook"></span></li>
						<li><span class="fa fa-check mr5"></span>Parle-nous de ton entreprise</li>
						<li><span class="fa fa-check mr5"></span>Engage-toi à nous soutenir</li>
					</ul>
					<h2>Nous garantissons la visibilité de tes magasins !</h2>
				</div>
			</div>
		</div>
		<div class="row 200%">
			<div class="12u">
				<!-- Features -->
					<section class="box features">
						<h2 class="major"><span>A Major Heading</span></h2>
						<div class="row center">
							<div class="12u">
								<header>
									<h2>A random assortment of icons in circles</h2>
									<p>And some text that attempts to explain their significance</p>
								</header>
								<p>
									Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. Praesent semper mod quis eget mi. Etiam eu<br />
									ante risus. Aliquam erat volutpat. Aliquam luctus et mattis lectus amet pulvinar. Nam nec turpis consequat.
								</p>
								<ul class="actions">
									<li><a href="#" class="button big">Do Something</a></li>
									<li><a href="#" class="button alt big">Think About It</a></li>
								</ul>
							</div>
						</div>
					</section>
			</div>
		</div>
	</div>