<div id="manage-offers">

	<div id="offers">
		<div class="row">
			<h2>Mes Offres</h2>
			<div class="create-new">
				<a class="waves-effect waves-light btn" href ="#/new-offer"><i class="fa fa-plus"></i> Publier une Offre</a>
			</div>
		</div>
		<div class="row" style="text-align:center;">
			Liste des offres et co.
		</div>
	</div>
	
	<div id="POI">
		<div class="row">
			<h2>Mes Points de vente</h2>
			<div class="create-new">
				<a href="#/new-POI"><i class="fa fa-plus"></i> Ajouter un Point de vente </a>
			</div>
		</div>
		<div class="row" style="text-align:center;">
			Liste des magasins et co.
		</div>
	</div>

</div>