<div id="account" class="container">
	<h2 class="mt50">Mon profil</h2>
	
	<div class="general-row">
		<form id="new-POIForm" method="POST" action="#manage-offers" accept-charset="UTF-8">
			<div class="input-group">
				<div class = "row">
					<div class="col-lg-5 col-md-6 col-xs-6 ">
						<input id="name" class="form-control" placeholder="Nom" type="text" value="" name="name" maxlength="20">
					</div>

					<div class="col-lg-5 col-md-6 col-xs-6 ">
						<input id="name" class="form-control" placeholder="Prenom" type="text" value="" name="name" maxlength="20" >
					</div>

					<div class="col-lg-2 col-md-4 col-xs-6 ">
						<select id="select_type" placeholder = "Sexe" class="form-control selectpicker">
							<option value ="M">M</option>
							<option value ="F">F</option>
						</select>
					</div>

					<div class="col-lg-6 col-md-6 col-xs-12 ">
						<input id="name" class="form-control" placeholder="mail" type="text" value="" name="name" maxlength="20" >
					</div>

					<div class="col-lg-6 col-md-6 col-xs-12 ">
						<input id="name" class="form-control" placeholder="Téléphone" type="text" value="" name="name" maxlength="20" >
					</div>
				</div>
			
				<div class="form-group mt30">
					<button id="btn-signup" class="btn btn-block btn-lg" type="submit">Sauvegarder mes informations</button>
				</div>
			</div>
		</form>
	</div>
</div>
