<div id="new-offer" class="container">
	<div class="realcontent">
		<h2 class="mt50">Poster une offre</h2>
		
		<div class="general-row">
			<form id="new-offerForm" method="POST" action="#hahaha" accept-charset="UTF-8">
				<div class="input-group">
					<label for="name">Nom de l'offre :</label>
					<input id="name" class="form-control" placeholder="Nom" type="text" value="" name="name" maxlength="20" required="required">
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<div class="input-group">
							<label for="select_type">Type d'offre :</label>
							<select id="select_type" class="form-control selectpicker">
								<option value="">1</option>
								<option value="">2</option>
								<option value="">3</option>
								<option value="">4</option>
							</select>
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="input-group">
							<label for="date_begin">Date de début de l'offre :</label>
							<input id="date_begin" class="form-control datepicker" placeholder="Date de début" type="datetime" value="" name="date_begin" required="required">
						</div>
					</div>
					<div class="col-md-4 col-xs-12">
						<div class="input-group">
							<label for="date_end">Date de fin de l'offre :</label>
							<input id="date_end" class="form-control datepicker" placeholder="Date de fin" type="datetime" value="" name="date_end" required="required">
						</div>
					</div>
				</div>
				<div class="input-group">
					<label for="select_poi">Points de ventes de l'offre :</label>
					<select id="select_poi" class="form-control selectpicker" multiple>
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
					</select>
				</div>
				<div class="input-group">
					<label for="description">Description de l'offre :</label>
					<textarea id="description" class="form-control" placeholder="Description" type="text" value="" name="description" maxlength="100"></textarea>
				</div>
				<div class="input-group">
					<label for="description">Ajouter une photo :</label>
					<input id="photo" class="" type="file" value="" name="photo"/>
				</div>
				<div class="form-group mt30 mb50">
					<button id="btn-new-offer" class="btn btn-block btn-lg" type="submit">Poster mon offre</button>
				</div>
			</form>
		</div>
	</div>
	
	<script type="text/javascript">
		// When the document is ready
		$(document).ready(function () {
			$('.datepicker').datepicker({ minDate: 0, format: "dd/mm/yyyy" });
		});
	</script>
</div>