<div id="signup" class="container">
	<div class="realcontent">
		<h2 class="mt50">Créer son compte</h2>
		
		<div class="general-row">
			<form id="signupForm" method="POST" action="#myaccount" accept-charset="UTF-8">
				<div class="input-group">
					<label for="mail">Adresse email :</label>
					<input ng-model="mail" id="mail" class="form-control" name="mail" placeholder="Email" required="required" maxlength="50" type="email" value="">
				</div>
				<div class="input-group">
					<label for="password">Mot de passe :</label>
					<input ng-model="password" id="password" class="form-control" name="password" placeholder="Mot de passe" required="required" maxlength="30" type="password" value="">
				</div>
				<div class="input-group">
					<label for="password_confirmation">Veuillez confirmer votre mot de passe :</label>
					<input ng-model="password_confirm" id="password_confirm" class="form-control" name="password_confirm" placeholder="Confirmer le mot de passe" required="required" maxlength="30" type="password" value="">
				</div>
				<div class="form-group mt30">
					<button id="btn-signup" class="btn btn-block btn-lg" type="submit">Créer un compte</button>
				</div>
			</form>

			<div class="form-group">
				<div class="topCushion">Déjà membre? <a href="#/login">Se connecter</a></div>
			</div>
			<div class="form-group">
				<p>En cliquant sur "créer un compte", vous acceptez les <a href="#/terms-of-service" target="_blank">Conditions Générales d'Utilisation</a>.</p>
			</div>
		</div>
		
	</div>
</div>