<div id="signup" class="container">
  
    <div class="row" style="text-align:center">
        <div id="realContent" class="col-xs-12">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-sm-offset-0">
                  <!--<h1>Sign Up</h1>-->
                </div>
            </div>
            <div class="row">
                <section class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-xs-12 col-sm-offset-0">
                    <div class="well well-lg">
                        <div class="row">
                         

                            <div class="col-s-6 col-xs-12" id="old-school">
                                <div class="row">
                                    <div class="col-xs-12"><h3>Sign Up Old School</h3></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form id="signupForm" method="POST" action="#hahaha" accept-charset="UTF-8">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-envelope icon-2x"></i></span>
                                                <input id="email" class="form-control input-lg" placeholder="Email" required="required" maxlength="100" type="text" name="email" value="">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-asterisk icon-2x"></i></span>
                                                <input id="password" class="form-control input-lg" placeholder="Password" required="required" maxlength="60" type="password" name="password">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="icon-asterisk icon-2x"></i></span>
                                                <input id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" required="required" maxlength="60" type="password" name="password_confirmation">
                                            </div>
                                                <div class="form-group">
                                                <button type="submit" id="btn-signup" class="btn btn-block btn-primary btn-lg">Sign Up</button>
                                            </div>
                                        </form>
                                        <div class="form-group">
                                            <div class="topCushion">Already a member? <a href="#/login">Login</a></div>
                                        </div>
                                        <div class="form-group">
                                            <p>By clicking on "Sign Up", you agree to the <a href="#terms-of-service" target="_blank">Terms of Service</a> and the <a href="#privacy" target="_blank">Privacy Policy</a>.</p>
                                        </div>
                                    </div><!-- end of column -->
                                </div><!-- end of row -->
                            </div><!-- end of column 2 -->
                        </div><!-- end of well row -->
                    </div><!-- end of well -->
                </section>
            </div><!-- end of row -->
        </div>
    </div>  
</div>
