<div id="signup" class="container">
	<div class="realcontent">
		<h2 class="mt50">Créer son compte</h2>
		
		<div class="general-row">
			<form id="signupForm" method="POST" action="#hahaha" accept-charset="UTF-8">
				<div class="input-group">
					<label for="email">Adresse email :</label>
					<input id="email" class="form-control" placeholder="Email" required="required" maxlength="100" type="email" name="email" value="">
				</div>
				<div class="input-group">
					<label for="password">Mot de passe :</label>
					<input id="password" class="form-control" placeholder="Mot de passe" required="required" maxlength="60" type="password" name="password">
				</div>
				<div class="input-group">
					<label for="password_confirmation">Veuillez confirmer votre mot de passe :</label>
					<input id="password_confirmation" class="form-control" placeholder="Confirmer le mot de passe" required="required" maxlength="60" type="password" name="password_confirmation">
				</div>
				<div class="form-group mt30">
					<button id="btn-signup" class="btn btn-block btn-lg" type="submit">Créer un compte</button>
				</div>
			</form>

			<div class="form-group">
				<div class="topCushion">Déjà membre? <a href="#/login">Se connecter</a></div>
			</div>
			<div class="form-group">
				<p>En cliquant sur "créer un compte", vous acceptez les <a href="#/terms-of-service" target="_blank">Conditions Générales d'Utilisation</a>.</p>
			</div>
		</div>
		
	</div>
</div>
